<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eusecom.exforu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EXforUActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.eusecom.exforu.HomeActivity" android:label="@string/app_name"> </activity>
        <activity android:name="com.eusecom.exforu.XstoreConnectActivity" android:label="@string/app_name"> </activity>
        <activity android:name="com.eusecom.exforu.FavTxtActivity" android:label="@string/app_name"> </activity>
        <activity android:name="com.eusecom.exforu.SettingsActivity" android:label="@string/settings"> </activity>
		<activity android:name="com.eusecom.exforu.EditPreferencesNew" android:label="@string/settings"> </activity>
		<activity android:name="com.eusecom.exforu.SetFavActivity" android:label="@string/xfavorite"> </activity>
		<activity android:name="com.eusecom.exforu.FavoriteActivity" android:label="@string/app_name"> </activity>
		<activity android:name="com.eusecom.exforu.StreamActivity" android:label="@string/app_name"> </activity>
		<activity android:name="com.eusecom.exforu.LearningActivity" android:label="@string/app_name"> </activity>
		<activity android:name="com.eusecom.exforu.TestNecoActivity" android:label="@string/app_name"> </activity>
		<activity android:name="com.eusecom.exforu.MakeTradeActivity" android:label="@string/app_name"> </activity>
		<activity android:name="com.eusecom.exforu.EditTradeActivity" android:label="@string/app_name"> </activity>
    </application>

</manifest>
